<section class="masthead">
  
  <ul>
    <li>CSS</li>
    <li>HTML</li>
    <li>Javascript</li>
    <li>Ruby</li>
  </ul>

  <img src="assets/AA_Times_Logo.png" alt="app-academy logo">

  <ul>
    Tuesday, October 18, 2016
    Today’s Paper
    Video
    77°F
    AAO +100%    
  </ul>


</section>  