<section class="masthead">
  <section class='bottom-border'>
    <div class="language-nav">  
      <ul>
        <li><a href=''>CSS</a></li>
        <li><a href=''>HTML</a></li>
        <li><a href=''>Javascript</a></li>
        <li><a href=''>Ruby</a></li>
      </ul>
    </div>    
  </section>
  <div class='logo-div'>
    <img class='logo' src="assets/AA_Times_Logo.png" alt="app-academy logo">
  </div>
  <div>
    <ul class='masthead-links'>
      <li><a href=''>Tuesday, October 18, 2016</a></li>
      <li><a class='paper' href=''>Today’s Paper</a></li>
      <li><a class='video' href=''>Video</a></li>
      <li><a class='degree' href=''>77°F</a></li>
      <li><a class='stocks' href=''>AAO <strong>+100%</strong></a></li>
    </ul>
  </div>
  
</section>  